In [13]:
import pandas as pd
d1={"name":["sai","sub","poo"],"age":[20,21,22]}
d2={"qualifed":[True,True,False]}

In [15]:
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
print(df2)
newdf=df1.join(df2)
print(newdf)

  name  age
0  sai   20
1  sub   21
2  poo   22
   qualifed
0      True
1      True
2     False
  name  age  qualifed
0  sai   20      True
1  sub   21      True
2  poo   22     False

In [17]:
d1={"name":["sai","rishi","thara"],"age":[20,20,22]}
d2={"name":["yuva","rithi","sanjay"],"age":[20,21,22]}

In [19]:
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
print(df2)
newdf1=(df2.merge(df1,on="age"))
newdf2=(df1.merge(df2,on="age"))
print(newdf1,"\n")
print(newdf2,"\n")

    name  age
0    sai   20
1  rishi   20
2  thara   22
     name  age
0    yuva   20
1   rithi   21
2  sanjay   22
   name_x  age name_y
0    yuva   20    sai
1    yuva   20  rishi
2  sanjay   22  thara

  name_x  age  name_y
0    sai   20    yuva
1  rishi   20    yuva
2  thara   22  sanjay

In [21]:
df=pd.DataFrame({'team':['A','B','C','D'],'points':[90,56,78,88],'assist':[12,34,23,44],'rebounds':[56,43,55,12]})
print(df)
df=pd.melt(df,id_vars='team',value_vars=['points','assist','rebounds'])
print("\nReshaped DataFrame:\n",df)

  team  points  assist  rebounds
0    A      90      12        56
1    B      56      34        43
2    C      78      23        55
3    D      88      44        12

Reshaped DataFrame:
    team  variable  value
0     A    points     90
1     B    points     56
2     C    points     78
3     D    points     88
4     A    assist     12
5     B    assist     34
6     C    assist     23
7     D    assist     44
8     A  rebounds     56
9     B  rebounds     43
10    C  rebounds     55
11    D  rebounds     12