In [8]:
import pandas as pd
data={'Name':['sai','yuvasri','poovannan','sabharish','sangamithra','rithika','rubasri'],'age':[20,18,19,20,18,17,19],'Gender':['M','F','M','M','F','F','F'],'Marks':[90,76,'NaN',74,65,'NaN',71]}
df=pd.DataFrame(data)
print("Original DataFrame:\n",df)
c=avg=0
for ele in df['Marks']:
    if str(ele).isnumeric():
        c+=1
        avg+=ele
        avg/=c
        df=df.replace(to_replace="NaN",value=avg)
        print("\nReplacing NaN with average marks:\n",df)

Original DataFrame:
           Name  age Gender Marks
0          sai   20      M    90
1      yuvasri   18      F    76
2    poovannan   19      M   NaN
3    sabharish   20      M    74
4  sangamithra   18      F    65
5      rithika   17      F   NaN
6      rubasri   19      F    71

Replacing NaN with average marks:
           Name  age Gender  Marks
0          sai   20      M   90.0
1      yuvasri   18      F   76.0
2    poovannan   19      M   90.0
3    sabharish   20      M   74.0
4  sangamithra   18      F   65.0
5      rithika   17      F   90.0
6      rubasri   19      F   71.0

Replacing NaN with average marks:
           Name  age Gender  Marks
0          sai   20      M   90.0
1      yuvasri   18      F   76.0
2    poovannan   19      M   90.0
3    sabharish   20      M   74.0
4  sangamithra   18      F   65.0
5      rithika   17      F   90.0
6      rubasri   19      F   71.0

Replacing NaN with average marks:
           Name  age Gender  Marks
0          sai   20      M   90.0
1      yuvasri   18      F   76.0
2    poovannan   19      M   90.0
3    sabharish   20      M   74.0
4  sangamithra   18      F   65.0
5      rithika   17      F   90.0
6      rubasri   19      F   71.0

Replacing NaN with average marks:
           Name  age Gender  Marks
0          sai   20      M   90.0
1      yuvasri   18      F   76.0
2    poovannan   19      M   90.0
3    sabharish   20      M   74.0
4  sangamithra   18      F   65.0
5      rithika   17      F   90.0
6      rubasri   19      F   71.0

Replacing NaN with average marks:
           Name  age Gender  Marks
0          sai   20      M   90.0
1      yuvasri   18      F   76.0
2    poovannan   19      M   90.0
3    sabharish   20      M   74.0
4  sangamithra   18      F   65.0
5      rithika   17      F   90.0
6      rubasri   19      F   71.0

/var/folders/xw/s1g3_n81471d_v_l10rnlnqw0000gp/T/ipykernel_9427/3351016028.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df=df.replace(to_replace="NaN",value=avg)

In [10]:
df=df[df['Marks']>=75]

#Remove age row
df=df.drop(['Age'],axis=1)

print("\nFiltering and Dropping func:\n",df)

KeyError: "['Age'] not found in axis"