In [7]:
import pandas as pd
d1={"name":["sai","sub","poo"],"age":[20,21,22]}
d2={"qualifed":[True,True,False]}

In [9]:
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
print(df2)
newdf=df1.join(df2)
print(newdf)

  name  age
0  sai   20
1  sub   21
2  poo   22
   qualifed
0      True
1      True
2     False
  name  age  qualifed
0  sai   20      True
1  sub   21      True
2  poo   22     False

In [11]:
d1={"name":["sai","rishi","thara"],"age":[20,20,22]}
d2={"name":["yuva","rithi","sanjay"],"age":[20,21,22]}

In [13]:
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
print(df2)
newdf1=(df2.merge(df1,on="age"))
newdf2=(df1.merge(df2,on="age"))
print(newdf1,"\n")
print(newdf2,"\n")

    name  age
0    sai   20
1  rishi   20
2  thara   22
     name  age
0    yuva   20
1   rithi   21
2  sanjay   22
   name_x  age name_y
0    yuva   20    sai
1    yuva   20  rishi
2  sanjay   22  thara

  name_x  age  name_y
0    sai   20    yuva
1  rishi   20    yuva
2  thara   22  sanjay